* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* definisco il container generico che mi occuperà solo
una parte di tutta la larghezza (e def anche una max-width
per impedire che su schermi grandi la sezione sia inutilmenre
troppo allargata) */
.container {
    height: 100%;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    border: 3px solid red;
}

.header-section {
    height: 400px;
    background-color: #0c325a;
}

.header-section nav {
    height: 75px;
    background-color: rgb(1, 33, 50);
}

.header-section .banner {
    height: 325px;
    background-color: lightblue;
}

.header-section .container .banner .title {
    height: 100%;
    width: 50%;
    background-color: rgb(85, 154, 177);
}

.promo-advise-section {
    height: 100px;
    background-color: #d3d3d3;
}

.main-section {
    height: 500px;
    background-color: white;
}

.main-section .container .upper-box .box {
    width: calc(100% / 3);
    height: 250px;
    float: left;
    background-color: orange;
    border: 1px solid white;
}

.main-section .container .down-box .box {
    width: calc(100% / 2);
    height: 250px;
    float: left;
    background-color: rgb(208, 86, 41);
    border: 1px solid white;
}

.footer-section {
    height: 100px;
    background-color: #d3d3d3;
}
